
PORT=3000
MONGODB_URI=mongodb://admin:admin123@mongodb:27017/slackboard?authSource=admin

SLACK_BOT_TOKEN=TU_SLACK_BOT_TOKEN
SLACK_SIGNING_SECRET=TU_SLACK_SIGNING_SECRET
GEMINI_API_KEY=TU_GEMINI_API_KEY
TRELLO_API_KEY=TU_TRELLO_API_KEY
TRELLO_TOKEN=TU_TRELLO_TOKEN