
MONGODB_URI=mongodb://admin:admin123@mongodb:27017/slackboard?authSource=admin
PORT=3000

SLACK_BOT_TOKEN=

SLACK_SIGNING_SECRET=
SLACK_CLIENT_SECRET=
SLACK_CLIENT_ID=
SLACK_OAUTH_REDIRECT_URI=

GEMINI_API_KEY=


TRELLO_API_KEY=
TRELLO_TOKEN=
TRELLO_REDIRECT_URI=


NGROK_AUTHTOKEN=

DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_OAUTH_REDIRECT_URI=

JWT_SECRET=

RESEND_API_KEY=

RESEND_FROM_EMAIL=

FRONTEND_URL=http://localhost:4200

GOOGLE_CLIENT_ID=

META_APP_ID=
META_APP_SECRET=
META_ACCESS_TOKEN=
META_BUSINESS_ACCOUNT_ID=
META_VERIFY_TOKEN=
META_CALLBACK_URL=
META_WEBHOOK_URL=
